body {
	background-color: #FFDCBE;
}

body h1{
	width: 90%;
	margin-left: Auto;
	margin-right: Auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;

}

body form{
	margin-left: Auto;
	margin-right: Auto;
	text-align: center;	
}

fieldset{
	display: inline-block;
	width: 20%;
}

form input{
	margin:0 2% 0 2%;
}

body table{
	width: 80%;
	margin-left: Auto;
	margin-right: Auto;
}

.tablaTitulo {
	background-color: #54E4BA;
	text-transform: uppercase;
	font-size: 20px;
	padding-top: 3px;
	padding-bottom: 3px;

}

.Oculto {
	display: none;
}

body table tr{
	text-align: center;
	text-transform: capitalize;
}


#Tabla th{
	font-family: 'B612 Mono', monospace;
	background-color: #B1B1B1;
	text-transform: uppercase;
}

#Encabezado th:first-child{
	width: 5%;
}

#Encabezado th:nth-child(2){
	width: 20%;
}

#Encabezado th:nth-child(3){
	width: 8%;
}

#Encabezado th:nth-child(4){
	width: 12%;
}



#Tabla tr:nth-child(odd){
	background-color: #D2D2F3;
}

#Tabla tr:nth-child(even){
	background-color: #BFBFEF;
}

#Tabla tr:hover{
	background-color: #DBE08A;
}

.A {
	background-color: #00FF54;
}

.R {
	background-color: #FFFC02;
}

.NC {
	background-color: #FFFFFF;
}

button {
	display: block;
	margin: auto;
}